<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wangweiju.mapper.ProjectMapper">

    <select id="queryProjectList" resultType="Project">
        select * from project
    </select>

    <insert id="addProject" parameterType="Projects">
        insert into project(proname,resgroup,host,member,stime,etime) values (#{proname},#{resgroup},#{host},#{member},#{stime},#{etime})
    </insert>

    <update id="updateProject" parameterType="Project">
        update project set proname=#{proname},resgroup=#{resgroup},host=#{host},member=#{member},stime=#{stime},etime=#{etime} where id = #{id}
    </update>

    <delete id="deleteProject" parameterType="int">
        delete from project where id = #{id}
    </delete>

    <select id="queryProjectById" parameterType="int" resultType="Project">
        select * from project where id = #{id}
    </select>
</mapper>